body {
  font-family: Arial;
  text-align: center;
  background: #f0f0f0;
}

#ujian {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

button {
  padding: 10px;
  margin: 5px;
  width: 200px;
}
